<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <br>
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <div formGroupName="address">  
    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
    <br>
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    <br>
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
    <br>
    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>
  <div>
    <p><button type="submit" [disabled]="!profileForm.valid">Submit</button></p>
    <p><button (click)="updateProfile()">Update Profile</button> To add Default Values</p>
  </div> 
</form>
{{profileForm.value | json}}